.my-nav-link {
  text-decoration: none;
  color: #f3f3f3 !important;
  font-size: 1.1rem;
  line-height: 1.1;
  cursor: pointer;
  font-weight: 700;
}
.my-nav-link:hover {
  background-image: linear-gradient(to right, #fff, rgb(255, 255, 255));
  background-position: 0 1.85em;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  font-weight: 600;
}

@media only screen and (max-width: 688px) {
  .my-nav-link:hover {
    width: 30%;
  }
}
